.signin {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Canela";
    background-image: url("../images/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  opacity: 0.8;
  }
 /* .card{
    width: 50%;
    margin-left:180px;
 } */